.btn-header {
    width: 100%;
    padding: 20px 0px 60px 0px;
    text-align: center;
}

.btn-my-avis {
    float: left;
    background-color: #f34242;
    border-radius: 15px;
    padding: 3px 140px;
    margin-left: 70px;
    box-shadow: 5px 8px rgb(0 0 0 / 6%);
}

.btn-new-avis { 
    float: right;
    background-color: #f34242;
    border-radius: 15px;
    padding: 3px 140px;
    margin-right: 70px;
    box-shadow: 5px 8px rgb(0 0 0 / 6%);
}

.txt-my-avis {
    margin: 0px 30px 0px 30px;
    text-decoration: none;
    background-color: #f34242;
    color: white;
    font-weight : bold;
}

.txt-new-avis {
    margin: 0px 30px 0px 30px;
    text-decoration: none;
    background-color: #f34242;
    color: white;
    font-weight: bold;
}


.title-avis {
    text-align: center;
}

.body1-avis-page {
    margin : 30px auto;
    height : 350px;
    display : flex;
    align-content : space-between;
}

.flip-card {
    background-color: transparent;
    width: 320px;
    height: 320px;
    /*border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin : 30px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    width: 320px;
    height: 320px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
    width: 320px;
    height: 320px;
}

/* Style the back side */
.flip-card-back {
    background-color: #F16767;
    color: white;
    transform: rotateY(180deg);
}


.card {
    width: 320px;
    height: 320px;
    padding: 30px;
}

.card-name {
    margin : 30px 5px 40px 5px;
}

