@{
    ViewData["Title"] = "Home Page";
}


<div class="block1">
    <div class="block1-txt">
        <p>
            <strong class="txt-strong">
                <i class="block1-PU">PraiseUs</i>, une nouvelle solution pour une location plus sécure !
            </strong>
        <p />
        <p class="p-block1">
            PraiseUs est la première plateforme française de mise en relation
            entre propriétaires et agences pour évaluer le potentiel risque d'un locatire.
        </p>
    </div>
    <div class="block1-img">
        <img class="home-img1" src="~/photo/maisonhome.jpg" alt="Image de Maison" />
    </div>
</div>

<div>
    <h2 class="entourage"><strong>Notre entourage</strong></h2>
    <strong><p class="p-txt-blac1-2">PraiseUs est composé de tout type de propriétaire ou intermédiaire ayant la possibilité de louer un logement</p></strong>
</div>

<div class="block2 block2-1">
    <div class="block2-agence">
        <h4 class="block2-title1">+1 249</h4>
        <div class="block2-txt-agence">Agences qui nous font confiance</div>
        <div class="btn-new-agence">
            <a href="/nous-rejoindre" class="btn-agences">Je rejoins les agences</a>
        </div>
    </div>

    <div class="block2-particulier">
        <h4 class="block2-title2">+2 678</h4>
        <div class="block2-txt-particulier">Particuliers qui nous font confiance</div>
        <div class="btn-new-particulier">
            <a href="/nous-rejoindre" class="btn-particulier">Je rejoins les particuliers</a>
        </div>
    </div>
</div>

<div class="block3">
    <div class="block3-1">
        <h4 class="block3-title">+8 478</h4>
        <div class="block3-txt">Locataires recensé</div>
        <div class="btn-new-locataire">
            <a href="/nous-rejoindre" class="btn-locataire">J'ajoute un locataire</a>
        </div>
    </div>
</div>

<div class="block4-title">
    <div class="block4-header">
        <div class="block4-title1">Qu'est-ce que PraiseUS</div>
        <div class="block4-txt">Le partage d'informations sur les locataires</div>
    </div>


    <div class=block4>

        <div class="block1-img">
            <img class="signature-img" src="~/photo/signaturepicture.jpg" alt="Image de signature d'un contrat de location" />
        </div>

        <p class="block4-p">
            Lancée en novembre 2022, Praise Us permet à plus de 3 927 inscrits (Agences et Particuliers) d'avoir accès aux informations sur les locataires
            des uns et des autres. Afin de pouvoir juger chaque locataire à sa juste valeur. Chaque locataire est noté selon le bon ou mauvais comportement
            lors de sa location. Chaque retard de paiement entraine une diminution de sa note et tout bon comportement entraine un haussement de sa note.

            En effet, sela permet donc à une personne tierce d'obtenir un avis sur un locataire en fonction de son sérieux lors de ces locations antérieur.
            Plus besoin de juger aux visage, ou aux salaire, mais au sérieux. Se système permet de mettre en valeur les personnes ayant certe des salaires
            moins élevé, mais sérieux. Et à contrario, permet une plus grande visibilité sur les locataire avec un bon dossier mais un sérieux déplorable.
        </p>


    </div>

</div>